.body {
    color: #fffdd0;
    padding-left: 5%;
    padding-right: 15%;
    padding-top: 3%;
}

.wrap-flex {
    display: flex;
    width: 100%;
    align-items: center;
}

.wrap-flex>* {
    padding-left: 3%;
}

#logout_message {
    color: red;
}

.right {
    float: right;
}

.left {
    float: left;
}

.status_button {
    float: right;
}

.status_msg {
    float: right;
    clear: right;
}

#web_requests_status {
    background-color: green;
    color: #fffdd0;
    font-size: inherit;
    padding: 20% 100%;
    border-radius: 10%;
    margin: 5% 0%;
    cursor: pointer;
}