#appDetails {
  text-align: center;
  color: #fffdd0;
  width: 40%;
  padding-top: 7%;
  padding-left: 5%;
  float: left;
}

#appLogin {
  float: right;
  width: 32%;
  padding-top: 19%;
}

#message {
  color: red;
}